.discount {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discount__form {
  width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border: 1px solid #2196f3;
  align-items: center;
  border-radius: 5px;
  padding: 12px;
}

.discount__input {
  width: 100px;
  padding: 10px;
  outline: none;
  font-weight: 300;
  font-size: 14px;
}

.discount__sub-button {
  padding: 10px;
  color: #fff;
  background-color: #2196f3;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 300;
  font-size: 14px;
}

.discount__res-button {
  padding: 7px;
  color: #fff;
  background-color: #f3213d;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 300;
  font-size: 12px;
  margin-top: 10px;
}

@media screen and (max-width: 1020px) {
  .discount__form {
    width: 60%;
  }

  .discount__input, .discount__sub-button {
    padding: 5px;
    font-size: 10px;
  }

  .discount__res-button {
    padding: 5px;
    font-size: 10px;
  }
}
