.form {
  width: 700px;
  margin: 0 auto;
}

.form__title {
  font-size: 34px;
  line-height: 1.5em;
  font-weight: 500;
  text-align: center;
  padding-top: 13px;
  color: #2196f3;
}

.form__form {
  margin-top: 10px;
  border: 1px solid #2196f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 12px;
}

.form__input {
  padding: 5px;
  outline: none;
  font-weight: 300;
  font-size: 14px;
}

.form__button {
  padding: 10px;
  color: #fff;
  background-color: #2196f3;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 300;
  font-size: 14px;
}
