.statistics {
  padding-top: 30px;
}

.statistics__title {
  font-size: 24px;
  font-weight: 500;
  color: #2196f3;
  text-align: center;
}

.statistics__span {
  text-decoration: line-through;
  color: #585858;
}

@media screen and (max-width: 1020px) {
  .statistics__title {
    font-size: 17px;
  }
}
