.items-list {
  padding-top: 100px;
}

.items-list__title {
  font-size: 34px;
  line-height: 1.5em;
  font-weight: 500;
  color: #2196f3;

}

.items-list__list {
  padding-top: 13px;
  list-style: none;
}

@media screen and (max-width: 1020px) {
  .items-list {
    padding-top: 50px;
  }

  .items-list__title {
    text-align: center;
    font-size: 24px;
  }
}